body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'rubik-bold';
  src:
    url(./fonts/rubik-bold.woff2) format('woff2'),
    url(./fonts/rubik-bold.woff) format('woff'),
    url(./fonts/rubik-bold.ttf) format('ttf');
}

@font-face {
  font-family: 'rubik-bold-italic';
  src:
    url(./fonts/rubik-bold-italic.woff2) format('woff2'),
    url(./fonts/rubik-bold-italic.woff) format('woff'),
    url(./fonts/rubik-bold-italic.ttf) format('ttf');
}

@font-face {
  font-family: 'rubik-medium';
  src:
    url(./fonts/rubik-medium.woff2) format('woff2'),
    url(./fonts/rubik-medium.woff) format('woff'),
    url(./fonts/rubik-medium.ttf) format('ttf');
}

@font-face {
  font-family: 'rubik-regular';
  src:
    url(./fonts/rubik-regular.woff2) format('woff2'),
    url(./fonts/rubik-regular.woff) format('woff'),
    url(./fonts/rubik-regular.ttf) format('ttf');
}
